# every .txt

*.txt

# sensitive info

.env

# records

entries.csv
ticks.csv

# pkl files

*.pkl

# system/venv

__pycache__/*
__pycache__
/__pycache__
*.pyc

# venv
.idea/
.idea
venv
venv/

# debug
#data.py